<html lang="en">
<head>

</head>
<body>
<div>
    <!--This is the navigation bar code here and its generic means it would appear on everypage. My location is views/partials/header-->
    <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="active navbar-brand">Learning Hub</a>

                <!--TODO: why it doesn't pick the title from the about time title in the navigation bar-->

                <!--Toggle button when the screen gets collapsed-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <!--these icn bar appear on top of the button showing a symbol of toggling-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!--menu items-->

            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">All Courses</a></li>
                    <li><a href="/about">About</a></li>
                    <!--Reference the faq page here. I would keep this path: "/faqs has been set to faqs/faqs.hbs" in the router/index.js-->
                    <li><a href="/faqs">FAQ</a></li>
                    <% if(locals.isAuthenticated){ %>
                    <li><a href="/forum">Forum</a></li>
                    <% } %>
                </ul>
                <!--Sign in and sign up menus-->
                <ul class="nav navbar-nav navbar-right">

                    <% if(locals.isAuthenticated){ %>
                    <li><a href="/student">Profile</a></li>
                    <li><a href="/logout">Log out</a> </li>
                    <% }  else { %>
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/signup">Sign Up</a> </li>
                    <% } %>

                </ul>

            </div>
        </div>
    </nav>
</div>
</body>
</html>