<div>

<!--
Write your code here!
-->

    <!--This is the navigation bar code here and its generic means it would appear on everypage. My location is views/partials/header-->

    <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>LearningHub</b></a>

                <!--Toggle button when the screen gets collapsed-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <!--these icn bar appear on top of the button showing a symbol of toggling-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!--menu items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">All Courses</a></li>
                    <li><a href="#">About</a></li>
                    <!--Reference the faq page here. I would keep this path: "faqs/faqs.html"-->
                    <li><a href="#">FAQ</a></li>

                    <!--Search bar with search button-->
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-info">Search</button>
                        </form>
                    </li>
                </ul>

                <!--Sign in and sign up menus-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!--here is the name of the id for Sign In: #myModal-->
                        <a href="#myModal" data-toggle="modal">Sign In</a>
                    </li>
                    <li><a href="#">Sign Up</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <br>
                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                        <li class=""><a href="#signup" data-toggle="tab">Sign Up</a></li>
                        <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in" id="why">
                            <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                            <p></p><br> Please contact <a mailto:href="tayyab.saeed05@gmail.com"></a>tayyab.saeed05@gmail.com</a> for any other inquiries.</p>
                        </div>
                        <div class="tab-pane fade active in" id="signin">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign In Form -->
                                    <!-- Sign In text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userIdSignIn">Username:</label>
                                        <div class="controls">
                                            <input id="userIdSignIn" name="userIdSignIn" type="text" class="form-control" placeholder="Username" class="input-medium" required>
                                        </div>
                                    </div>

                                    <!-- Sign In password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="passwordInput">Password:</label>
                                        <div class="controls">
                                            <input id="passwordInput" name="passwordInput" class="form-control" type="password" placeholder="********" class="input-medium" required>
                                        </div>
                                    </div>

                                    <!--                                &lt;!&ndash; Multiple Checkboxes (inline) &ndash;&gt;
                                                                    <div class="control-group">
                                                                        <label class="control-label" for="rememberme-0"></label>
                                                                        <div class="controls">
                                                                            <label class="checkbox inline" for="rememberme-0">
                                                                                <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                                                                Remember me
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                    -->
                                    <!-- Sign In Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signInButton"></label>
                                        <div class="controls">
                                            <button id="signInButton" name="signInButton" class="btn btn-success">Sign In</button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Sign Up Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="EmailSignUp">Email:</label>
                                        <div class="controls">
                                            <input id="EmailSignUp" name="EmailSignUp" class="form-control input-large" type="text" placeholder="YourEmail@example.com" required>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="userIdSignUp">Alias:</label>
                                        <div class="controls">
                                            <input id="userIdSignUp" name="userIdSignUp" class="form-control input-large" type="text" placeholder="Username" required>
                                        </div>
                                    </div>

                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="passwordSignUp">Password:</label>
                                        <div class="controls">
                                            <input id="passwordSignUp" name="passwordSignUp" class="form-control input-large" type="password" placeholder="********" required>
                                            <em>1-8 Characters</em>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <!--                 <div class="control-group">
                                                         <label class="control-label" for="reEnterPassword">Re-Enter Password:</label>
                                                         <div class="controls">
                                                             <input id="reEnterPassword" class="form-control" name="reEnterPassword" type="password" placeholder="********" class="input-large" required="">
                                                         </div>
                                                     </div>

                                                     &lt;!&ndash; Multiple Radios (inline) &ndash;&gt;
                                                     <br>
                                                     <div class="control-group">
                                                         <label class="control-label" for="humancheck-0">Humanity Check:</label>
                                                         <div class="controls">
                                                             <label class="radio inline" for="humancheck-0">
                                                                 <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                                                             <label class="radio inline" for="humancheck-1">
                                                                 <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                                                         </div>
                                                     </div>
                     -->
                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmSignUp"></label>
                                        <div class="controls">
                                            <button id="confirmSignUp" name="confirmSignUp" class="btn btn-success">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>