<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row">

<!--

Add you code here!
-->


    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">

    Only I would be adding code here (M. Tayyab Saeed)
    <!--You can add the container for the courses in this place. My location is view/courses/index.hbs-->

    <!--advertLine-->
    <div class="container">
        <hr class="pretty-line">
        <br>
        <center>
            <h1>Advert for our main courses</h1>
            <h3>You need to sign in or sign up to see our courses</h3>
            <br>
            <button class="btn btn-primary btn-lg" href="#myModal" data-toggle="modal">Sign In/Sign Up</button>
        </center>
        <br>
        <hr class="pretty-line">
    </div>



