<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/98a290a12a.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/form-elements.css">
    <title>Learning Hub</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div>

    {{> header}}
    <div class="container">

        {{{body}}}

    </div>

</div>



<script src="../javascripts/jquery.backstretch.min.js"></script>

<!--<script>window.onload = function() {-->

    <!--/*-->
     <!--Fullscreen background-->
     <!--*/-->
    <!--$.backstretch("http://all4desktop.com/data_images/original/4239027-images-of-nature.jpg");-->
    <!--/*-->
     <!--Form validation-->
     <!--*/-->
    <!--$('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function() {-->
        <!--$(this).removeClass('input-error');-->
    <!--});-->

    <!--$('.login-form').on('submit', function(e) {-->

        <!--$(this).find('input[type="text"], input[type="password"], textarea').each(function(){-->
            <!--if( $(this).val() == "" ) {-->
                <!--e.preventDefault();-->
                <!--$(this).addClass('input-error');-->
            <!--}-->
            <!--else {-->
                <!--$(this).removeClass('input-error');-->
            <!--}-->
        <!--});-->

    <!--});-->


<!--};</script>-->



</body>
</html>
