<html lang="en">

<% include ./partials/headerMain.ejs%>
   <!-- Main component for a primary marketing message or call to action -->
<%- include left_sidebar %>

<div class="row container">


	<div class=" col-sm-4">
		<div class="card col-md-8 btn btn-default" style="width: 20rem;">
			<img class="card-img-top" src="../images/js.png" alt="JS course logo">
			<div class="card-block">
				<h4 class="card-title">JavaScript</h4>
				<p class="card-text">The best JavaScript course</p>
				<a href="" class="btn btn-primary">Go to Course</a>
			</div>
		</div>
	</div>

	<div class=" col-sm-4">
		<div class="card col-md-8 btn btn-default" style="width: 20rem;">
			<img class="card-img-top" src="../images/node.jpg" alt="Node course logo">
			<div class="card-block">
				<h4 class="card-title">NodeJS</h4>
				<p class="card-text">The best JavaScript course</p>
				<a href="#" class="btn btn-primary">Go to Course</a>
			</div>
		</div>
	</div>

	<div class=" col-sm-4">
		<div class="card col-md-8 btn btn-default" style="width: 20rem;">
			<img class="card-img-top" src="../images/react-hexagon.png" alt="JS course logo">
			<div class="card-block">
				<h4 class="card-title">React</h4>
				<p class="card-text">The best react course </p>
				<a href="#" class="btn btn-primary">Go to Course</a>
			</div>
		</div>
	</div>

</div>

<div class="row container">

	<div class=" col-sm-4">
		<div class="card col-md-8 btn btn-default" style="width: 20rem;">
			<img class="card-img-top" src="../images/github.png" alt="Github course logo">
			<div class="card-block">
				<h4 class="card-title">Github</h4>
				<p class="card-text">The best Github course</p>
				<a href="#" class="btn btn-primary">Go to Course</a>
			</div>
		</div>
	</div>

	<div class=" col-sm-4">
		<div class="card col-md-8 btn btn-default" style="width: 20rem;">
			<img class="card-img-top" src="../images/git.png" alt="Node course logo">
			<div class="card-block">
				<h4 class="card-title">Git</h4>
				<p class="card-text">The best git course</p>
				<a href="#" class="btn btn-primary">Go to Course</a>
			</div>
		</div>
	</div>

	<div class=" col-sm-4">
		<div class="card col-md-8 btn btn-default" style="width: 20rem;">
			<img class="card-img-top" src="../images/es6.png" alt="JS course logo">
			<div class="card-block">
				<h4 class="card-title">JavaScript</h4>
				<p class="card-text">The best JavaScript course</p>
				<a href="#" class="btn btn-primary">Go to Course</a>
			</div>
		</div>
	</div>

</div>
</center>