    <nav class="navbar navbar-default col-md-2 jk-sidebar">
      
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">    
			<li <% if (title === 'Create Courses') { %>class="active" <% } %>><a href="/create">Create Course</a></li>
			 <li <% if (title === 'Courses') { %>class="active" <% } %>><a href="/courses">My Courses</a></li>
			 <li <% if (title === 'Quizzes') { %>class="active" <% } %>><a href="/quizzes">My Quizzes</a></li>
			 <li <% if (title === 'logout') { %>class="active" <% } %>><a href="/logout">Logout</a></li>
          </ul>
		  </div>
	
	 </nav>