


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/signin-signup.css">

<div class="container col-sm-12" id="mainform">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title pull-left" id="signinid">Sign In</div>
                <div class="pull-right"><a id="signinlink" href="/signup">Sign Up</a></div>
                <div style="clear:both;display:block"></div>
            </div>
            <div class="panel-body" >
                <form class="form-horizontal" role="form" method="post" action="/signinuser" onSubmit="return checkblank(this);">
                    <!--Todo the return statement in the above the line and check the action="/signinuser"-->
                    <!--                    <% if (message.length > 0) { %>
                                        <div class="alert alert-success col-sm-12"><%= message %></div>
                                        <% } %>-->
                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Username*</label>
                        <div class="col-md-9"><input type="text" name="usernameSignin" placeholder="Username" class="form-username form-control" id="form-username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password*</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="userpasswordSignin" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signin" type="submit" class="btn btn-success btn-block"><i class="icon-hand-right"></i> &nbsp Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
