

<div class="container col-sm-12 center" id="mainform">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title pull-left" id="signupid">Sign Up</div>
                <div class="pull-right"><a id="signinlink" href="/login">Sign In</a></div>
                <div style="clear:both;display:block"></div>
            </div>
            <div class="panel-body" >
                <form class="form-horizontal" role="form" method="post" action="/register" onSubmit="return checkblank(this);">

                    <% if(signupErrors) { %>
                    <div class="alert alert-danger">
                        <% signupErrors.forEach(function (msg) { %>
                        <% console.log(msg) %>
                        <li><%- JSON.stringify(msg) %></li>
                        <% }) %>
                    </div>
                    <% } else if (userTakenError) { %>
                    <div class="alert alert-danger">
                        <%= userTakenError %>
                    </div>
                    <% } %>


                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">Username*</label>
                        <div class="col-md-9">
                            <input id="userIdSignUp" name="username" class="form-control input-large" type="text" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email*</label>
                        <div class="col-md-9">
                            <input id="EmailSignUp" name="email" class="form-control input-large" type="email" placeholder="YourEmail@example.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">User Type*</label>
                        <div class="col-md-4">Student
                            <input type="radio" class="form-control" name="usertype" value="Student" >
                        </div>
                        <div class="col-md-4">Instructor
                            <input type="radio" class="form-control" name="usertype" value="Instructor" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password*</label>
                        <div class="col-md-9">
                            <input id="passwordSignUp" name="password" class="form-control input-large" type="password" placeholder="********" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info btn-block"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../javascripts/scripts.js"></script>
