#cent {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-50px; /* this is half the height of your div*/
	margin-left:-100px; /*this is half of width of your div*/
}



body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
}

.minor_container {
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}


ol, ul {
	list-style: none;padding-left:0;
}

ul li.grid {
	display:inline-block;
	width:33.3%;
	padding:15px;
	float: left;
	vertical-align:top;
	overflow:hidden;
}
.custom_list .nt-column-list h2 {
	margin-top: 40px;
}
.page_outer_c .panel-heading {
	color: #fdfdfd;
	background-color: #363636;
	border-color: #363636;
}
.faq_outer.faq_open .faq_question:before {
	opacity: 1;
}
.page_outer_c {
	border: 1px solid #363636;
	border-radius: 6px;
}

.panel-heading a {
	color: #fff;
	text-transform: capitalize;
}

.panel-heading a:hover {
	text-decoration: none;
}
.all_border > li .nt-column-list ul li {
	word-break: break-all;
}

.custom_list > li {
	min-height: 150px;
	max-height: 203px;
}
.nt-column-list h2 {
	word-break: break-all;
	max-width: 285px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.no_borders_shadow {
	box-shadow: none !important;
	border: 0 !important;
}
.custom_list > li{position:relative}
.section_outer .icon_list a, .section_outer .icon_list button {
	background: transparent;
	border: 0;
	position: static;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #dcdcdc;
	vertical-align: middle;
}
.section_outer .icon_list img {
	width: 20px;
	padding: 5px 0;
}

.icon_list {
	position: absolute;
	top: 0;
	right: 0;
}
.nt-column-list {
	margin-bottom: 35px;
}
.all_border {
	border: 1px solid #dcdcdc;
	border-bottom: 0;
}

.all_border > li:nth-last-child(2) {
}

.all_border > li {
	border-bottom: 1px solid #dcdcdc;
}
a#signinlink {
	color: #fff;
}

a#signinlink:hover {
	text-decoration: none;
}

.all_border > li:not(:nth-child(3n+3)){
	border-right:1px solid #dcdcdc;
}
.nt-column-list h2 {
	color: #000;
	font: 14px 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
}
.nt-column-list > h2 > span > a {
	display: inline;
	background: none;
	border: none;
}

.nt-profile-photos ul li a {
	overflow: hidden;
	height: 143px;
	width: 100%;
	max-width: initial;
}


.nt-column-list a {
	display: block;
	overflow: hidden;

	width: 100%;
	max-width: initial;
	background: rgba(0, 0, 0, 0.15);
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0.03);
	position: relative;
}

.nt-profile-photos ul li a img {
	max-width: 216px;
	max-height: 160px;
	width: auto;
}




.panel-body table
tbody tr:nth-child(odd) {
	background: #fbfbfb;
}
.panel-body table
tbody tr td,.panel-body table
tbody tr th {
	padding: 15px;
}
.table-user-information tbody tr:nth-child(odd) {
	background: #fbfbfb;
}

.table-user-information tbody tr {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table-user-information {
	border-bottom: 1px solid #ddd;
}
.table-user-information tbody tr:hover td {
	background: #fbfbfb;
}
.faq_section .faq_outer:nth-of-type(1) {
	margin-top: 30px;
}

.faq_question:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 80px;
	border: 8px solid transparent;
	border-top: 8px solid #363636;
	opacity: 0;
}
.header_right li a {
	text-transform: capitalize;
}

.faq_outer.faq_open .faq_question:after {
	opacity: 1;    margin-top: -2px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.faq_section .faq_outer:nth-of-type(1) {
	margin-top: 30px;
}
.artist_landing_page {
	min-height: 1790px;
}


h3.custom_title {
	font-size: 27px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
}

.box_section_inner {
	width: 23.3%;
	float: left;
	background: #fff;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-right: 20px;
	border-radius:4px;
	padding: 30px 15px 15px 15px;
	min-height: 430px;
}

.box_section_outer:after {
	clear: both;
	display: block;
	content: "";
}


.box_section_outer .box_section_inner:nth-child(4n+4) {
	margin-right: 0;
}



.box_section_outer {
	padding: 50px 0px;
	text-align: center;
}

.faq_outer {
	margin-bottom: 25px;
}

.faq_question {
	background: transparent;
	padding: 8px 0px 8px 15px;
	position: relative;
	cursor: pointer;
	text-transform: capitalize;
	border-bottom: 1px solid #dcdcdc;
	border-bottom-left-radius: 15px;

}

.faq_answer {
	background: rgba(255, 255, 255, 0.15);
	padding: 15px;
	line-height: 26px;
	font-size: 16px;
	display: none;text-transform: capitalize;
	color: #000;
}

.faq_outer .faq_question h4 {
	font-size: 21px;
	color: #000;
	margin-bottom: 0; margin-top: 0;
	line-height: inherit;
	font-weight: normal;text-transform: capitalize;
}

.faq_open .faq_answer {
	display: block;
}
.box_inner_content .image_sec {
	width: 80px;
	height: 80px;
	line-height: 80px;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.14), -7px -7px 10px rgba(0, 0, 0, 0.14), -7px 7px 10px rgba(0, 0, 0, 0.14), 7px -7px 10px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.14), -7px -7px 10px rgba(0, 0, 0, 0.14), -7px 7px 10px rgba(0, 0, 0, 0.14), 7px -7px 10px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.14), -7px -7px 10px rgba(0, 0, 0, 0.14), -7px 7px 10px rgba(0, 0, 0, 0.14), 7px -7px 10px rgba(0, 0, 0, 0.14);
	-o-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.14), -7px -7px 10px rgba(0, 0, 0, 0.14), -7px 7px 10px rgba(0, 0, 0, 0.14), 7px -7px 10px rgba(0, 0, 0, 0.14);
	display: inline-block;
	margin: 20px 0px;
	border-radius: 50%;background-size: 50px !important;
}
.c_promote .image_sec{background:url(../images/promotion.png) no-repeat center;}
.c_copyright .image_sec{background:url(../images/copyright.png) no-repeat center;}
.c_feedback .image_sec{background:url(../images/list.png) no-repeat center;}
.c_sales .image_sec{background:url(../images/world-map.png) no-repeat center;}
.faq_question:after {
	content: "";
	position: absolute;
	right: 15px;
	width: 10px;
	height: 10px;border-bottom:1px solid #dcdcdc;border-right:1px solid #dcdcdc;
	top: 50%;color:#31708f;
	transform: translateY(-50%) rotate(45deg); -webkit-transform: translateY(-50%) rotate(45deg); -moz-transform: translateY(-50%) rotate(45deg); -o-transform: translateY(-50%) rotate(45deg);
}
.clear {
	clear: both;
	display: block;
}
.faq_question div span {
	width: 150px;
	display: inline-block;
}

.faq_question div span form {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 0;
}
/*
.faq_question:before {
    content: "";
    width: 15px;
    right: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: 0;
    height: 2px;
    background: #31708f;
    display: inline-block;
}
*/



.faq_section .faq_outer:nth-of-type(1) {
	margin-top: 30px;
}
.artist_landing_page {
	min-height: 1790px;
}


h3.custom_title {
	font-size: 27px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
}

.box_section_inner {
	width: 23.3%;
	float: left;
	background: #fff;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-right: 20px;
	border-radius:4px;
	padding: 30px 15px 15px 15px;
	min-height: 430px;
}

.box_section_outer:after {
	clear: both;
	display: block;
	content: "";
}


.box_section_outer .box_section_inner:nth-child(4n+4) {
	margin-right: 0;
}
.simple_content_template {}

.simple_content_template .t_left_sec {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.simple_content_template .t_right_sec {
	width: 36%;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}

.t_right_sec img {
	width: 100%;
}


.box_inner_content .box_heading h4 {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 15px;
}

.box_content {
	font-size: 14px;
	line-height: 24px;color:#fff;
}
.box_section_outer .box_section_inner:nth-child(1) {
	background-color: #d20007;
	background: -webkit-linear-gradient(left top, #4c0002, #d20007);
	background: -moz-linear-gradient(top right, #4c0002, #d20007);
	background: -o-linear-gradient(top right, #4c0002, #d20007);
	background: linear-gradient(to top right, #4c0002, #d20007);
}

.box_section_outer .box_section_inner:nth-child(2) {
	background-color: #d74900;
	background: -webkit-linear-gradient(left top, #9c3300, #d74900);
	background: -moz-linear-gradient(top right, #9c3300, #d74900);
	background: -o-linear-gradient(top right, #9c3300, #d74900);
	background: linear-gradient(to top right, #9c3300, #d74900);
}
.box_section_outer .box_section_inner:nth-child(3) {
	background-color: #1b4681;
	background: -webkit-linear-gradient(left top, #153664, #1b4681);
	background: -moz-linear-gradient(top right, #153664, #1b4681);
	background: -o-linear-gradient(top right, #153664, #1b4681);
	background: linear-gradient(to top right, #153664, #1b4681);
}
.box_section_outer .box_section_inner:nth-child(4) {
	background-color: #2c315e;
	background: -webkit-linear-gradient(left top, #1f2242, #2c315e);
	background: -moz-linear-gradient(top right, #1f2242, #2c315e);
	background: -o-linear-gradient(top right, #1f2242, #2c315e);
	background: linear-gradient(to top right, #1f2242, #2c315e);
}

.box_section_outer .box_section_inner:nth-child(4) *,.box_section_outer .box_section_inner:nth-child(1) * {
	color: #fff;
}

.box_section_outer .box_section_inner {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14);
	-o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.14);
	transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s;
}
.box_section_outer .box_section_inner:hover {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14);
	-o-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14), 10px 10px 10px rgba(0, 0, 0, 0.14);
	transition:all 0.8s;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s;
}
.faq_answer table {
	width: 100%;
	border: 1px solid #000;
	border-bottom: 0;
	margin: 20px 0;
	text-align: center;
}

.faq_answer table thead tr th,.faq_answer table tbody tr td {
	padding: 10px;
	border-bottom: 1px solid #000;color:#000;
}

.faq_answer table thead tr th:last-child,.faq_answer table tbody tr td:last-child {
	border-right: 0;
}

.faq_answer table thead tr th,.faq_answer table tbody tr td {
	border-right: 1px solid #000;
}

/******28 November****/
body .container-fluid{padding-left:0; padding-right:0;}
body .navbar-default {  border-radius: 0px; background-color: #363636;   border-color: #363636; border: none; margin-bottom: 0;}
body .navbar-default .navbar-nav>li>a {  background-color:black ;}
body .navbar-default .navbar-nav>li>a:hover, body .navbar-default .navbar-nav>li>a:focus {  color: #363636; }
body .navbar-default .navbar-brand {  color: #363636;}
body .navbar-default .navbar-brand:hover, body .navbar-default .navbar-brand:focus { color: #ffffff; background-color: transparent;}
body .navbar-default .navbar-nav>.active>a, body .navbar-default .navbar-nav>.active>a:hover, body .navbar-default .navbar-nav>.active>a:focus { color: #fff;  background-color: #39b5cf;}
.jk-sidebar ul {  float: none;}
.jk-sidebar ul li {  display: block; float: none;}
.jk-sidebar {  background-color: #363636 !important; border-radius: 0;margin-top:48px}
.container .jumbotron, .container-fluid .jumbotron { border-radius: 0;  background: transparent;}
.jk-sidebar ul li:hover a { color: #fff !important;}
.jk-sidebar ul li:hover {  background: #39b5cf !important; border-left: 5px solid #363636;}
.jk-sidebar ul li a{ padding-top: 20px; padding-bottom: 20px; font-size:15px;}
.jk-sidebar #navbar {  padding: 0;}
body .jk-sidebar { padding: 0;}
body .btn { background: #39b5cf; border-radius: 0;font-size: 13px;border-color: #39b5cf;}
body .btn:hover{color: #fff; background-color: #363636; border-color: #363636;}
body .btn-primary:hover, body .btn-primary:focus, body .btn-primary.focus, body .btn-primary:active, body .btn-primary.active, body .open>.dropdown-toggle.btn-primary { color: #fff; background-color: #363636; border-color: #363636;}
body .panel-info>.panel-heading { color: #fdfdfd;  background-color: #363636; border-color: #363636;}
body .panel-info{border-color: #363636;}
.jk-sidebar ul li{border-left:5px solid transparent;}
.custom_list .icon_list a,.custom_list .icon_list button {
	background: #363636;
}

