

<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
<!--advertLine-->
<div class="container">
    <hr class="pretty-line">
    <br>
    <center>
        <p>Welcome to {{title}}</p>
        <h1>Advert for our main courses</h1>
        <h3>You need to sign in or sign up to see our courses</h3>
        <br>
        <button class="btn btn-primary btn-lg" href="#myModal" data-toggle="modal">Sign In/Sign Up</button>
    </center>
    <br>
    <hr class="pretty-line">
</div>

                                    <!--
                                    CONTATINERS code will come here
                                    -->
<div>
    <center>
        <strong>
            <p>Always ask for help where to put the code in the project folders.</p>
            <p>Me (Tayyab) and Waqaace can help with that.</p>
        </strong>
        <!--You can add the container for the content in this place. My location is view/homepage/index.hbs-->
    </center>
</div>
<center>
<p>Here would come the code for displaying the courses</p>
</center>




