<html>
<head>


</head>

<body>






<p style="margin-top: 70px">Welcome Student  <strong> <%= for_frontend_username %> </strong></p>
<p>Include your code at location student/studentProfile in the project directory</p>


</body>
</html>