<br>
<nav class="navbar navbar-default col-md-2 jk-sidebar">

    <div id="navbar" class="navbar-collapse collapse" style="background-color: lightgrey">
        <ul class="nav navbar-nav">
            <li><strong><%= for_frontend_username %></strong></li>
            <br>
            <li><a href="/courses">My Courses</a></li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>



        </ul>
    </div>

</nav>