<center class="container">

<br>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <hr class="pretty-line">
                <center><h1>About Us</h1></center>
            <hr class="pretty-line">
        </div>
    </div>
    <h3>Welcome to Learning Hub!</h3>
    <br>

    <h4>
        <ul>
            <strong class="label label-success">Tutors</strong>
            <br>
            <br>
            <p> This plateform is those youtubers who want to have a platform where they can provide notes or textual expalnation, quizes.</p>
            <p>
                The tutors can rearrange their work now. They don't to have have a separate website or a similar platform where they have to pay charges
            </p>
            <p>
                They can be update their material in terms of writing rather then helpless or creating new material.
            </p>
            <br>
            <br>
            <strong class="label label-success">Students</strong>
            <br>
            <br>
            <p>
                Students who are following the youtube videos can now see a full detailed tutorial instead of only video.
            </p>
            <p>
                Students can have a forum where they can interact with other students and help each other in the learning journey.
            </p>
            <p>
                And the list goes on ....
            </p>
        </ul>
    </h4>


</center>
